<div class="current-video {{if showCurrentVideo 'visible'}}">
  <div class="current-video-content">
    <div class="video-name">{{currentVideo.name}}</div>
    <div class="close-preview" {{action "closePreview"}}>
      {{fa-icon "times"}}
    </div>
    {{#if showCurrentVideo}}
      <video autoplay loop muted>
        <source src={{currentVideo.src}} type="video/mp4">
      </video>
    {{/if}}
    <ul class="related-videos">
      {{#each video in relatedVideos}}
        <li>{{video-card video=video size="small"}}</li>
      {{/each}}
    </ul>
  </div>
</div>