<ul class="application-menu">
  {{#link-to "dashboard" tagName="li"}}{{fa-icon "home"}}{{/link-to}}
  <li>{{fa-icon "users"}}</li>
  <li>{{fa-icon "tag"}}</li>
  <li>{{fa-icon "diamond"}}</li>
  <li>{{fa-icon "clock-o"}}</li>
</ul>